.name {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.avatar{
    display: flex;
    align-items: center;
}
.icon {
    font-size: 30px;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
}